

.boxTitle {
    margin-bottom: 30px;
}

.boxTitle h3 {
    font-family: 'Overpass', sans-serif;
    font-size: 2.3rem;
    text-transform: uppercase;
    font-weight: 700;
}

.boxTitle p {
    font-size: 20px;
    color:#a3a3a3;
}

.title {
    margin: 0;
    margin-top: 15px;
    margin-bottom: 5px;
    text-align: left;
    font-size: 1.3rem;
    color: #333;
}

.price {
    margin: 0;
    font-size: 1.5rem;
    color: #a3a3a3;
    text-align: left;
}

.productCard {
    text-decoration: none;
    color: #333;
    font-family: 'Overpass', sans-serif;
    margin-top: 30px;
    display: inline-block;
}

.productCard:hover img {
    opacity: .7;
}